.qts{
    font-weight: 200;
    font-size: 30px;
}

.abimg {
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); */
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.9));
    border-radius: 10px; /* You can adjust the value to change the roundness */
    max-width: 100%;
    height: auto;
}

.author{
    padding-left: 20%;
    font-family:fantasy;
    font-weight: 400;

}

.responsive-image {
    max-width: 100%;
    height: auto;
}